/* Variables */

$font-main: 'Roboto', sans-serif;
$font-two: 'Great Vibes', cursive; /* Golden */
$font-three: 'Lora', serif; 
$color-one: #fed136;  /* yellow */
$color-two: #f7f7f7;  /* v.light grey for background */
$color-four: #6c757d; /* light grey for text */



/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $font-main;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  color: $color-four;
  text-align: left;
  background-color: #fff;
}
.container {
    max-width: 1000px;
}
.column {
    text-align: center;
    margin: 30px 15px;
    background-color: #fff;
    padding: 0;
    max-width: 288px;
}
.row {
    justify-content: center;
}
/* Header */
header{
    height: 100vh;
    color: #fff;
    background-image: url(https://i.postimg.cc/Tw2C8cNY/header-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.name {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    color: $color-one;
    font-family: $font-two;
    padding: 0 0 0 42px;
    letter-spacing: 4px;
    margin-top: 35px;
    
}
.list-group {
    margin-top: 35px;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.list-group > li {
    font-size: 0.9rem;
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    letter-spacing: 1px;
    position: relative;
}

.navbar {
    padding: 0;
}
.navbar a {
    text-decoration: none;
    color: #fff;
}
.navbar a:hover p {
    color: $color-one;
}

.inside-list {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: rgba(89, 89, 89, 0.3);
}

.inside-list li {
    display: none;
    text-align: left;
    padding: 0 25px;
}

.list-group > li:hover .inside-list li {
    display: block;
}

.splash {
    text-align: center;
}
.splash h2 {
    font-size: 2.5rem;
    font-style: italic;
    font-family: $font-three;
    font-weight: 400;
    padding: 0;
    text-transform: capitalize;
    margin: 170px auto 25px;
}
.splash h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0 0 30px;
    letter-spacing: 3px;
    padding-bottom: 10px;
}
.button {
    margin: 50px auto 0 auto;
    padding: 19px 50px;
    border-radius: 4px;
    font-family: $font-main;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-one;
    text-transform: uppercase;
    font-weight: 700;
}
/* Section Services */

.services .column {
    margin: 30px 15px 100px;
}
.section-title {
    color: #000;
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 100px auto 0;
}
.subtitle {
    font-family: $font-three;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    margin: 0.55rem auto 2.4rem;
    letter-spacing: 0.06rem;
}
.services i {
    color: $color-one;
    font-size: 32px;
    background: inherit;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid $color-one;
    border-radius: 50%;
}
.column-title {
    font-weight: 700;
    color: #000;
    font-size: 1.15rem;
    margin: 25px auto 0;
}
.column p {
    line-height: 1.5;
    margin-top: 14px;
}
/* Portfolio */
.portfolio {
    background-color: $color-two;
    padding-bottom: 5.7rem;
}
.column-subtitle {
    font-family: $font-three;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0 20px;
    letter-spacing: 0.06rem;
    line-height: 1.2;
}
/* Footer */
footer {
    padding: 1.2rem 0;
}
footer .column {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: 2.25rem;
}
.social-link {
    max-height: 2.25rem;
    margin: 0 0.5rem;
}
.social-link a {
    font-size: 0;
}
.social-link i {
    color: #fff;
    font-size: 1.5rem;
    background-color: #000;
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-radius: 50%;
}
footer p {
    font-weight: 500;
}
/* Media */
@media (max-width: 767px) {
    .name {
        font-size: 20px;
        padding: 0;
        margin: 20px auto 5px;
    }
    .list-group {
        margin-top: 0;
        justify-content: center;
    }
    .list-group > li {
        font-size: 0.7rem;
    }
    .splash h2 {
        font-size: 1.5rem;
        margin: 120px auto 20px;
    }
    .splash h1 {
        font-size: 2rem;
        margin: 0 0 30px;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
    .button {
        margin: 20px auto 0 auto;
        padding: 10px 20px;
        font-size: 12px;
    }
    .services .column {
        margin: 30px 15px 0px;
    }
    .services .column:last-child {
        margin: 30px 15px 50px;
    }
    .section-title {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 50px auto 0;
    }
    
    footer .column {
        max-height: 1.5rem;
        margin: 15px;
    }
    footer {
        padding: 0.5rem 0;
    }
    .portfolio {
        padding-bottom: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .name {
        font-size: 20px;
        padding: 0;
        margin: 20px auto 5px;
    }
    .list-group {
        margin-top: 0;
        justify-content: center;
    }
    .splash h2 {
        font-size: 2rem;
        margin: 80px auto 35px;
    }
    .splash h1 {
        font-size: 3rem;
        margin: 0 0 40px;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
    .button {
        margin: 20px auto 0 auto;
        padding: 15px 25px;
        font-size: 16px;
    }
    .services .column {
        margin: 30px 15px 0px;
    }
    .services .column:last-child {
        margin: 30px 15px 50px;
    }
    .section-title {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 50px auto 0;
    }
    
    footer .column {
        max-height: 1.5rem;
        margin: 15px;
    }
    footer {
        padding: 0.5rem 0;
    }
    .portfolio {
        padding-bottom: 2rem;
    }
}