/* Variables */

$font-main: 'Roboto', sans-serif;
$font-two: 'Great Vibes', cursive; /* Golden */
$font-three: 'Lora', serif; 
$color-one: #fed136;  /* yellow */
$color-two: #f7f7f7;  /* v.light grey for background */
$color-four: #6c757d; /* light grey for text */



/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $font-main;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  color: $color-four;
  text-align: left;
  background-color: #fff;
}
.container {
    height: 100vh;
    max-width: 1000px;
}
/* Header */
header{
    color: #fff;
    background-image: url(https://i.postimg.cc/Tw2C8cNY/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
.name {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    color: $color-one;
    font-family: $font-two;
    padding: 0 0 0 100px;
    letter-spacing: 4px;
    
}
.list-group {
    margin-top: 25px;
}
.list-group > li {
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
    letter-spacing: 2px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}
.navbar a:hover p {
    color: $color-one;
}

            /* inside list */

.inside-list {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: rgba(89, 89, 89, 0.3);
}

.inside-list li {
    display: none;
    text-align: left;
    padding: 0 25px;
}

.list-group > li:hover .inside-list li {
    display: block;
}
.splash {
    text-align: center;
    align-items: center;
}
.splash h2 {
    font-size: 2.5rem;
    font-style: italic;
    font-family: $font-three;
    font-weight: 400;
    padding: 100px 0 0;
    text-transform: capitalize;
    margin-bottom: 7px;
}
.splash h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0 0 30px;
    letter-spacing: 3px;
    padding-bottom: 10px;
}
.btn {
    margin: 40px auto 0 auto;
    padding: 19px 50px;
    border-radius: 4px;
    font-family: $font-main;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $color-one;
    background-color: $color-one;
    text-transform: uppercase;
    font-weight: 500;
}
/* Section Services */

.section-title {
    color: #000;
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 100px auto 0;
}
.subtitle {
    font-family: $font-three;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    margin: 0.55rem;
    letter-spacing: 0.06rem;
}
.column {
    text-align: center;
    padding: 35px;
    margin: 27px auto;
    
}
.column i {
    color: $color-one;
    font-size: 32px;
    background: inherit;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid $color-one;
    border-radius: 50%;
}
.column-title {
    font-weight: 700;
    color: #000;
    font-size: 1.15rem;
}